<!-- <md-card-content>
  <div layout="row" layout-align="space-between center" ng-click="toggleCards(card.id)" toggle-cards>
    <h2 class="md-title" >{{card.name}}</h2>
    <span class="okr-status" ng-class="{'okr-status-failed': card.success === 'FAILED'}">{{card.success}}</span>
  </div>
  <div layout="row" ng-if="card.id === openCard" layout-wrap>
    <div flex class="font-design">
      <md-checkbox ng-repeat="task in card.tasks" ng-checked="task.status === 'incomplete' ? false : true">
        {{task.name}}
      </md-checkbox>
      <md-checkbox ng-repeat="keys in card.keyResults" ng-checked="keys.status === 'incomplete' ? false : true">
        {{keys.name}}
      </md-checkbox>
      <md-list ng-repeat='label in card.labels'>
        {{label}}
      </md-list>
    </div>
  </div>
</md-card-content> -->
<!-- <div>{{cards}}</div> -->