<!DOCTYPE html>
<html lang="en" ng-app="TrailApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body layout="column" ng-controller="MainCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Welcome to Trail</h1>
      </div>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"></md-sidenav>
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <md-card>
            <md-card-content>
              <div layout="row" layout-align="space-between center" ng-click="togglesection('sectionOne')">
                <h2 class="md-title" >Convene and engage community</h2>
                <span class="okr-status">SUCCESS</span>
              </div>
                <div layout="row" ng-show="checkDropdown('sectionOne')" layout-wrap>
                  <div flex="50">
                    <md-checkbox ng-model="data.ca1" aria-label="Checkbox 1">
                      Double the number of major events produced from previous year
                    </md-checkbox>
                    <md-checkbox ng-model="data.ca2" aria-label="Checkbox 1">
                      Craft a 3-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.ca3" aria-label="Checkbox 1">
                      Craft a 5-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.ca4" aria-label="Checkbox 1">
                      Double high level engagement with twice-monthly email communications
                    </md-checkbox>
                  </div>
                </div>
            </md-card-content>
          </md-card>
          <md-divider></md-divider>
          <md-card>
            <md-card-content>
              <div layout="row" layout-align="space-between center" ng-click="togglesection('sectionTwo')">
                <h2 class="md-title">Book speaking roles to drive incoming leads</h2>
                <span class="okr-status">SUCCESS</span>
              </div>
                <div layout="row" ng-show="checkDropdown('sectionTwo')" layout-wrap>
                  <div flex="50">
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                      Double the number of major events produced from previous year
                    </md-checkbox>
                    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">
                      Craft a 3-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.cb3" aria-label="Checkbox 1">
                      Craft a 5-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.cb4" aria-label="Checkbox 1">
                      Double high level engagement with twice-monthly email communications
                    </md-checkbox>
                  </div>
                </div>
            </md-card-content>
          </md-card>
          <md-divider></md-divider>
          <md-card>
            <md-card-content>
              <div layout="row" layout-align="space-between center" ng-click="togglesection('sectionThree')">
                <h2 class="md-title">Successfully Onboard All Developers on to Client Projects</h2>
                <span class="okr-status">SUCCESS</span>
              </div>
                <div layout="row" ng-show="checkDropdown('sectionThree')" layout-wrap>
                  <div flex="50">
                    <md-checkbox ng-model="data.cc1" aria-label="Checkbox 1">
                      Double the number of major events produced from previous year
                    </md-checkbox>
                    <md-checkbox ng-model="data.cc2" aria-label="Checkbox 1">
                      Craft a 3-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.cc3" aria-label="Checkbox 1">
                      Craft a 5-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.cc4" aria-label="Checkbox 1">
                      Double high level engagement with twice-monthly email communications
                    </md-checkbox>
                  </div>
                </div>
            </md-card-content>
          </md-card>
          <md-divider></md-divider>
          <md-card>
            <md-card-content>
              <div layout="row" layout-align="space-between center" ng-click="togglesection('sectionFour')">
                <h2 class="md-title">Produce new marketing materials</h2>
                <span class="okr-status" ng-class="{'okr-status-failed': true}">FAIL</span>
              </div>
                <div layout="row" ng-show="checkDropdown('sectionFour')" layout-wrap>
                  <div flex="50">
                    <md-checkbox ng-model="data.cd1" aria-label="Checkbox 1">
                      Double the number of major events produced from previous year
                    </md-checkbox>
                    <md-checkbox ng-model="data.cd2" aria-label="Checkbox 1">
                      Craft a 3-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.cd3" aria-label="Checkbox 1">
                      Craft a 5-minute stump speech
                    </md-checkbox>
                    <md-checkbox ng-model="data.cd4" aria-label="Checkbox 1">
                      Double high level engagement with twice-monthly email communications
                    </md-checkbox>
                  </div>
                </div>
            </md-card-content>
          </md-card>
        </md-content>
      </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
