<!DOCTYPE html>
<html lang="en" ng-app="TrailApp">
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="viewport" content="initial-scale=1"/>
  </head>
  <body ng-controller="MainCtrl">
    <md-toolbar layout="row" >
      <div class="md-toolbar-tools" layout-align="space-between center">
        <h1>Welcome to Trail</h1>
        <md-button ng-click="toggleLeft()"class="md-primary">Toggle left</md-button>
      </div>
    </md-toolbar>
    <div layout="row" flex>
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
          <md-card ng-repeat="card in cards">
            <md-card-content>
              <div layout="row" layout-align="space-between center" ng-click="toggleCards($index)">
                <h2 class="md-title" >{{card.title}}</h2>
                <span class="okr-status">{{card.status}}</span>
              </div>
                <div layout="row" ng-show="card.isOpen" layout-wrap>
                  <div flex="50">
                    <md-checkbox ng-repeat="task in card.tasks" ng-model="data.ca1" aria-label="Checkbox 1">
                      {{task}}
                    </md-checkbox>
                  </div>
                </div>
            </md-card-content>
          </md-card>
        </md-content>
      </div>
    </div>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-toolbar>
        <!-- TO-DO: add a close button -->
        <h1 class="md-toolbar-tools">
          Filters
        </h1>
      </md-toolbar>
      <md-content layout-padding>
        <p hide-md show-gt-md>
          
        </p>
      </md-content>
    </md-sidenav>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
