.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.trail-name {
  margin-left: 20% !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  letter-spacing: .005em !important;
}
.okr-status {
  float: right;
  color: green;
  font-size: 14px !important;
  font-weight: 300 !important;
  letter-spacing: .005em !important;
}
.okr-status-failed {
  color: red !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  letter-spacing: .005em !important;
}

.md-no-sticky {
  font-size: 20px !important;
}

#side-nav-button {
  color: white;
  font-weight: 300 !important;
  letter-spacing: .005em !important;
}

md-checkbox .md-container {
  top: 13px !important;
}

md-checkbox .md-label span {
  margin-left: 0;

}

md-icon {
  height: 1% !important;
}
md-checkbox .md-label {
  padding-left: 15px;

}

.modal-name {
  font-size: 14px !important;
}

.md-title,
.md-toolbar-tools {
  font-size: 16px !important;
  font-weight: 300 !important;
  letter-spacing: .005em !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}


.no-key-result {
  color: red !important;
}

.check-box {
  font-size: 12px !important;
  font-weight: 200 !important;
  letter-spacing: .005em !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-right: 10%;
  margin-bottom: 1% !important;
}

.md-title {
  margin: 0 !important;
  text-align: left !important;
  width: 100% !important;
}

.label {
  font-size: 0.7em !important;
  display: inline-block;
  padding: 3px 7px;
  background-color: slategrey;
  color: #fff !important;
  margin-right: 5px !important;
}

.labels-name {
  margin-right: 2px;
}
.modal-dialog {
  width: 50%;
  height: auto;
}

.font-design {
  font-size: 14px;
  font-weight: 300;
}

.contents {
  width: 60%;
  margin: auto auto;
}

.filters{
  font-size: 16px !important;
  font-weight: 300 !important;
  letter-spacing: .005em !important;
}

.filter-member{
  font-size: 16px !important;
  font-weight: 300 !important;
  letter-spacing: .005em !important;
}

.member-name{
  font-size: 14px;
  font-weight: 300;
}
#md-sidenav-style {
  width: 260px !important;
  min-width: 260px !important;
  max-width: 260px !important;
}
.label-name {
  font-size: 14px;
  font-weight: 300;
}

.modal-dialog md-progress-linear {
  margin-bottom: 5%;
}

span > i {
  /*padding: 0 3px;*/
  margin-right: 3px;
}

.member-initials {
  background-color: #d6dadc;
  margin: 8px 16px 8px 0;
  font-size: 12px;
  font-weight: 700;
  height: 33px;
  line-height: 33px;
  text-align: center;
  width: 30px;
  border-radius: 20%;
}

.ng-cloak {
  display: none !important;
}

.unchecked {
  color: #ccc;
}

.checked {
  color: rgb(63,81,181);
}

.custom-button {
  border-radius: 100px !important;
  border: 3px solid #0C88FF;
  color: #0C88FF;
  background-color: #fff
}

.custom-button:hover {
  background-color: #0C88FF !important;
  color: #fff;
}

md-progress-linear .md-container, md-progress-linear .md-bar {
  height: 7px !important;
  border-radius: 100px !important;
}

md-progress-linear .md-container {
  background-color: slategrey !important;
}

md-progress-linear .md-bar{
  background-color: dark-pink !important;
}

.md-list-item-inner>.md-avatar:first-child, md-list-item>.md-avatar:first-child {
  width: 130px !important;
  height: 130px !important;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 2px !important;
  /*box-sizing: content-box;*/
}

.tasks {
  margin-right: 1% !important;
}

.card-image {
  height: 65px;
}

.md-icon-toggled {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: transform .5s ease-in-out;
     -moz-transition: transform .5s ease-in-out;
      -ms-transition: transform .5s ease-in-out;
       -o-transition: transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
}

.md-icon-toggle {
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
       -o-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: transform .5s ease-in-out;
     -moz-transition: transform .5s ease-in-out;
      -ms-transition: transform .5s ease-in-out;
       -o-transition: transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
}

.menu-toggle-list {
  overflow: hidden;
  -webkit-transition: height .5s ease-in-out;
     -moz-transition: height .5s ease-in-out;
      -ms-transition: height .5s ease-in-out;
       -o-transition: height .5s ease-in-out;
          transition: height .5s ease-in-out;
}

.menu-toggled-list {
  overflow: hidden;
  -webkit-transition: height .5s ease-in-out;
     -moz-transition: height .5s ease-in-out;
      -ms-transition: height .5s ease-in-out;
       -o-transition: height .5s ease-in-out;
          transition: height .5s ease-in-out;
}

.card-image img{
  height:100%;
  margin-right: 16px;
  margin-left: 7px;
}

.subhead {
  margin-left: 0px !important;
}

.icon {
  float: right !important;
  margin-bottom: 1% !important;
  margin-right: 2px;
  margin-top: 2px;
}

.opentrello {
  float: right !important;
}
