<md-content layout="column" flex class="md-padding">
  <md-list>
    <!-- <md-subheader class="md-no-sticky">OKR RESULTS</md-subheader>
    <md-divider ></md-divider> -->
    <div layout="row" ng-show="isLoading" layout-sm="column" layout-align="space-around" style="position:fixed; top: 50%; left:50%;">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-hide="isLoading">
      <md-list-item class="md-2-line" ng-repeat="card in cards | cardFilter: filterArray" ng-click="showCardDetails($event,card)">
        <img ng-src="{{ getImage(avatarHash[card.membersid[0]], card) }}" class="md-avatar" alt="" style="display:inline"/>
        <div class="md-list-item-text">
          <h3 class="md-title card-name" style="display:inline; font-weight: 500 !important" ng-class="!card.keyResults.length ? 'no-key-result' : ''" flex>{{card.name | strLimit: 60}}</h3>
          <div layout="column">
            <div layout="row" layout-align="space-between">
              <p style="display:inline; font-weight: 100 !important">TASK PROGRESS</p>
              <p layout-margin  style="display:inline" class="tasks">{{card.taskCompleted}}/{{card.tasks.length}} tasks completed</p>
            </div>
            <div flex="33" layout-margin>
              <md-progress-linear class="md-accent" md-mode="{{mode}}" value="{{card.progress}}"></md-progress-linear>
            </div>
          </div>
          <div layout="row" layout-align="space-between">
            <div style="display:inline">
              <p>KEY RESULTS</p>
              <span ng-repeat="key in card.keyResults" >
                <i class="fa fa-check-circle fa-lg" ng-class="key.status === 'complete' ? 'checked' : 'unchecked'">
                  <md-tooltip>{{key.name}}</md-tooltip>
                </i>
              </span>
            </div>
            <div style="display:inline" class="labels-name">
              <p ng-repeat="label in card.labels" class="label">{{label}}</p>
            </div>
          </div>
          <md-divider ></md-divider>
        </div>
      </md-list-item>
    </div>
</md-content>
