<md-sidenav class="md-sidenav-left md-whiteframe-z1" id='md-sidenav-style' md-component-id="left">
  <md-toolbar>
    <!-- TO-DO: add a close button -->
    <h1 class="md-toolbar-tools filters">
      Filters
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <p hide-md show-gt-md>
      <div>
        <h2 class="md-title filter-member">Filter by label</h2>

        <md-checkbox  ng-repeat="label in allCardLabels | orderBy: label" ng-model='selected' ng-change="filterLabel(label, selected)" class="label-name">{{label}}</md-checkbox>
      </div>
    </p>
    <md-divider></md-divider>
    <p hide-md show-gt-md>
      <div>
        <h2 class="md-title filter-member">Filter by member</h2>

        <md-checkbox  ng-repeat="member in allCardMembers | orderBy: 'name'" ng-model='selected' ng-change="filterMember(member.id, selected)" class="member-name">{{member.name}}</md-checkbox>
      </div>
    </p>
  </md-content>
</md-sidenav>
